<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <link href="" rel="icon">

    <title>Race Relations in Singapore: {% block title %}{% endblock %}</title>
</head>

<body class="bg-light text-dark">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container p-2 p-lg-5">
            <h6 class="m-0 p-0"><a class="text-dark nav-item nav-link pl-0" href="/">Race Relations in Singapore</a>
            </h6>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler border-0" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/articles">Articles</a></li>
                    <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
                    <li class="nav-item"><a class="nav-link" href="/videos">Videos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/podcasts">Podcasts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/websites">Websites</a></li>
                    <li class="nav-item"><a class="nav-link" href="/social">Social Media</a></li>
                    <li class="nav-item"><a class="nav-link" href="/others">Others</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form action="/search" method="POST" class="form-inline">
                        <input name="search"
                            class="form-control nav-item nav-link bg-light mr-2 border-top-0 border-left-0 border-right-0 rounded-0"
                            type="search" aria-label="Search" style="width: 140px; height: 30px;">
                        <button class="btn nav-item nav-link m-0 p-0" type="submit">Search</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container p-4 py-lg-2 px-lg-5">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="navbar navbar-light small">
        <div class="container p-2 p-lg-5">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link"
                    href="https://docs.google.com/spreadsheets/u/1/d/1VsoJpvVbRQjboAiCWU4gxO1TNzMTj0VFJ2I52BHlG1k/htmlview#">
                    A Resource Bank by Adila
                </a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="https://www.instagram.com/sheimoria/?hl=en">
                    Website by Shem Maleriado
                </a>
            </div>
        </div>
    </footer>
</body>

</html>